.font_oxygen_light
  font-family: 'Oxygen', sans-serif;
  font-weight: 100

.font_oxygen_regular
  font-family: 'Oxygen', sans-serif;
  font-weight: 400

.font_oxygen_bold
  font-family: 'Oxygen', sans-serif;
  font-weight: 600