.hamburger
  padding: 0
  height: 28px
  .hamburger-box
    width: 28px
  .hamburger-inner
  .hamburger-inner::before
  .hamburger-inner::after
    width: 28px
    height: 4px
  .hamburger-inner::before
    top: -8px
  &:hover
  &:active
  &:focus
    outline: 0
.hamburger--collapse .hamburger-inner::after
  top: -16px

