a:hover
a:focus
  text-decoration: none

.pos_rel
  position: relative

.fl_row
  display: flex
  flex-direction: row
  flex-wrap: wrap

.fl_row_center
  display: flex
  flex-direction: row
  align-items: center
  flex-wrap: wrap

.fl_row_cc
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  flex-wrap: wrap

.fl_row_sb
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  flex-wrap: wrap

.fl_row_sb_end
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-end
  flex-wrap: wrap

.fl_row_end
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  flex-wrap: wrap

.fl_row_start
  display: flex
  flex-direction: row
  align-items: flex-start
  flex-wrap: wrap

.fl_col_sb
  display: flex
  flex-direction: column
  justify-content: space-between
  flex-wrap: wrap

.fl_col_center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  flex-wrap: wrap

.user_logo
  width: 32px
  height: 32px
  border: 2px solid #fff
  margin-left: 22px

.main__list-item_title
  height: 48px
  .main__item-icon
  .main__item-title-text
    background-color: #999
  .main__item-icon
    margin-right: 1px

.bg_green1
  background-color: #a2d28a

.bg_green2
  background-color: #cae2be

.main__list-rule-block_left
  border-radius: 5px 0 0 0

.main__list-rule-block_right
  border-radius: 0 5px 0 0